target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar
.apt_generated/

.idea/
*.iml
*.iws
*.ipr
out/

.classpath
.project
.settings/

.DS_Store # macOS
Thumbs.db # Windows

log/
*.log

.env
application*.properties.local # or any specific local config files
*.jks # Keystore files
*.key # Private keys
*.pem # Certificates

*.tmp
*.bak
*.swp
*~